@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,bold&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: sans-serif; }

abbr[title] {
  border-bottom: none;
  cursor: inherit;
  text-decoration: none; }

*, *:before, *:after {
  outline: 0;
  box-sizing: border-box;
  border: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

.summary {
  text-align: center;
  max-width: 90%;
  min-width: 90%;
  margin: auto;
  color: white; }

.summary > h2 {
  /* text-transform: uppercase; */
  font-size: 30px;
  margin: 0; }

.list__item--inner {
  /* display: flex;
    flex-direction: column; */
  margin-bottom: 32px; }

body > header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
  padding: 2rem 1rem; }

body > header h1 {
  font-family: 'Crimson' Poppins;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 2px solid white;
  box-sizing: border-box;
  padding: 8px;
  color: white;
  border-radius: 5px; }
  body > header h1 a {
    text-decoration: none;
    color: white; }

.open {
  background-color: white; }

.open h1 {
  border: 2px solid #242D52; }
  .open h1 a {
    color: #242D52; }

.body_header + .open_menu:checked {
  background-color: white; }

@media (min-width: 977px) {
  .open {
    background-color: unset; }
  body > header.open > h1 {
    max-width: fit-content;
    min-width: fit-content;
    margin-left: 3.5%;
    border: 2px solid white; }
    body > header.open > h1 a {
      color: white; }
  body > header {
    margin-left: 0;
    margin-right: 0;
    background-color: unset; } }

.masthead {
  top: -120px;
  position: relative;
  text-align: center;
  margin-bottom: 120px;
  background-color: #242D52;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 40%;
  padding-block-start: 150px;
  padding-block-end: 150px;
  position: relative;
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  /* border-radius: 0 0 85% 85% / 10%; */ }

.navigation {
  position: absolute;
  z-index: 3;
  right: 0;
  bottom: 0;
  height: auto;
  display: none;
  width: 100%;
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  transition: transform 1s;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.25)); }

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: white;
  border: 0;
  padding-bottom: 4rem; }

.navigation__link {
  font-style: normal;
  font-weight: bold;
  font-size: 1.375rem;
  background-image: none;
  line-height: 1.25rem;
  padding: 1rem 0;
  margin: 0 1rem;
  background-image: none;
  line-height: 1.25rem;
  background-position: 1rem 50%;
  text-decoration: none;
  display: block;
  color: #242D52;
  border-bottom: 1px solid  #FF8C00; }

.navigation__item:last-child a {
  padding-inline-end: 0; }

.open_menu:checked ~ .navigation {
  transform: translateY(15%);
  top: -13px;
  display: block; }

.open_menu:checked ~ label {
  z-index: 2;
  right: 0;
  height: 25px;
  width: 25px;
  background-image: url(../images/cross.svg); }

.navigation label {
  width: 250px;
  display: block;
  height: 30px; }

.open_menu {
  display: none; }

.navigation > label, body > header > label {
  width: 25px;
  height: 25px;
  background-size: 28px;
  background-repeat: no-repeat;
  position: relative; }

body > header > label {
  background-image: url(../images/menu.svg); }

.navigation > label {
  margin-left: auto; }

.navigation > label {
  transition: rotate 1s; }

@media (min-width: 977px) {
  body > header label {
    display: none; }
  .navigation {
    display: block;
    padding: 0;
    background-image: unset;
    left: 0;
    right: 0;
    bottom: auto;
    max-width: 95%;
    min-width: 95%;
    height: auto;
    box-shadow: none;
    transform: none;
    transition: none;
    margin: auto; }
  .navigation label {
    display: none; }
  .navigation__list {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    padding-bottom: unset;
    padding: 0;
    max-width: unset;
    min-width: unset;
    width: unset;
    margin: unset;
    position: unset;
    top: unset;
    background-color: unset;
    border-radius: unset;
    box-shadow: unset; }
  .open_menu:checked ~ .navigation {
    top: 25px;
    display: block; }
  .navigation__item {
    border: unset; }
  .navigation__link {
    color: white;
    border-bottom: unset; }
  .navigation__link:hover {
    border-radius: 2px;
    -webkit-box-shadow: 0px 6px 0px 0px #FF8C00;
    box-shadow: 0px 6px 0px 0px #FF8C00; } }

.section__details {
  padding: 16px; }

.section__details figure {
  margin: 0; }

.details__img {
  max-width: 100%;
  min-width: 100%;
  border-radius: 12px; }

.section__details h2 {
  font-family: Montserrat Bold;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4F4F4F; }

.onja {
  text-decoration: none;
  color: #00b2d8;
  font-style: italic; }

.details__job {
  font-family: Montserrat Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Gray 3 */
  color: #828282; }

.links__social {
  list-style: none;
  padding: 0;
  margin-top: 32px;
  margin-bottom: 32px; }

.links__social .icon {
  word-break: break-all;
  text-decoration: none;
  font-family: Montserrat;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* Gray 2 */
  color: #4F4F4F; }

.icon span {
  margin-inline-start: 18px; }

.section__details p {
  font-family: Montserrat;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  /* Gray 3 */
  color: #828282; }

@media (min-width: 977px) {
  .section__details {
    display: flex;
    gap: 2rem;
    max-width: 90%;
    min-width: 90%;
    margin: auto;
    padding: 0; }
  .section__details h2 {
    font-family: Poppins;
    margin-top: 0; }
  .section__details .details__img {
    max-width: 272px;
    min-width: 272px; }
  .section__wrapper {
    display: flex;
    justify-content: space-between; }
  .section__details .links__social {
    margin-top: 16px;
    display: flex;
    gap: 10px; } }

.section__projects {
  padding: 16px; }

.projects__list {
  padding: 0;
  list-style: none; }

.list__inner {
  padding: 0;
  list-style: none; }

.list__item--inner figure {
  margin: 0; }

.list__item--inner ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 32px; }

.list__item--inner li {
  margin-bottom: 32px; }

@media (min-width: 375px) {
  .list__item--inner ul {
    display: flex; } }

.link--image {
  max-width: 100%;
  min-width: 100%;
  border-radius: 6px;
  /* box-shadow: 0 2.5rem 2rem -2rem hsl(200 50% 20% / 40%);
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%); */
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.8); }

.section__projects h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4F4F4F; }

.section__projects h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 29px;
  color: #4F4F4F;
  color: #146396; }

.section__projects h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #4F4F4F;
  color: #43B4D8; }

.section__projects p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* Gray 3 */
  color: #828282; }

.project__link {
  text-decoration: none;
  word-break: normal;
  border: 1px solid #5C94E1;
  /* border: 1px solid rgb(57, 185, 185); */
  box-sizing: border-box;
  border-radius: 12px;
  background-color: transparent;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 18px;
  color: #5C94E1;
  /* color: rgb(84, 230, 230); */
  cursor: pointer;
  margin-right: 11px;
  outline: none; }

.project__link:hover {
  background: #5C94E1;
  /* background: rgb(69, 223, 223); */
  color: #FFFFFF; }

/* . {
    margin-right: 11px;
} */
@media (min-width: 977px) {
  .section__projects {
    /* display: flex;
        gap: 2rem; */
    max-width: 90%;
    min-width: 90%;
    margin: auto; }
  .section__projects h4 {
    margin-top: 0; }
  .list__item--inner {
    display: flex;
    gap: 2rem;
    /* align-items: center; */
    padding: 0; }
  .link--image {
    max-width: 272px;
    min-width: 272px; }
  .list__item--inner ul {
    flex-direction: row; }
  .list__item--inner li {
    margin-bottom: 0; }
  .project__link {
    margin-bottom: 0; } }

footer {
  background: #dadada; }

footer h2 {
  font-family: 'MADE-Dillan',sans-serif;
  font-size: 26px;
  font-weight: 400;
  color: #15847D;
  font-size: 32px;
  letter-spacing: .02em; }

footer ul {
  margin: 0;
  list-style: none;
  padding: 0; }

footer li {
  padding-top: 32px;
  padding-bottom: 32px; }

/* .icons_list {
    background-color: white;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 5px;
} */
.contact {
  padding: 16px; }

.icons_list {
  text-decoration: none;
  color: #00a396; }

@media (min-width: 977px) {
  footer h2 {
    text-align: center; }
  .contact {
    /* display: flex;
        gap: 2rem; */
    max-width: 90%;
    min-width: 90%;
    margin: auto; }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; } }

.email {
  color: #FF1154; }

.facebook {
  color: #5C94E1; }
